USE [master]
GO
/****** Object:  Database [QLDA]    Script Date: 22/10/2025 8:09:48 CH ******/
CREATE DATABASE [QLDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLDA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLDA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDA]
GO
/****** Object:  UserDefinedFunction [dbo].[fDemNv]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fDemNv]()
RETURNS int
BEGIN
  RETURN (SELECT count(MANV)
  FROM NHANVIEN)
 END
GO
/****** Object:  UserDefinedFunction [dbo].[fDemNv_gioitinh]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fDemNv_gioitinh](@phai nvarchar(3))
RETURNS int
BEGIN
  RETURN (SELECT count(MANV)
  FROM NHANVIEN
  where PHAI like @phai)
 END
GO
/****** Object:  UserDefinedFunction [dbo].[fListPhong]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fListPhong] (@phong Int)
  RETURNS @ProdList Table
   (  ten nvarchar(15) , ma int, trphg nvarchar(9), ngay date
   )
 AS
  BEGIN
   IF @phong IS NULL
    BEGIN
     INSERT INTO @ProdList (ten,ma,trphg,ngay)
     SELECT TENPHG, MAPHG,TRPHG,NG_NHANCHUC
     FROM PhongBan
    END
   ELSE
   BEGIN
     INSERT INTO @ProdList (ten,ma,trphg,ngay)
    SELECT TENPHG, MAPHG,TRPHG,NG_NHANCHUC
     FROM PHONGBAN
     WHERE MAPHG=@phong
   END
  RETURN
  END
GO
/****** Object:  UserDefinedFunction [dbo].[fMaPHG]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fMaPHG] (@Manv nvarchar(9))
RETURNS  int
BEGIN
    RETURN (SELECT PHG FROM NHANVIEN WHERE MANV = @Manv)
END
GO
/****** Object:  UserDefinedFunction [dbo].[fTuoi]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[fTuoi] (@ns int) 
Returns int  
As  
Begin   
return year(getdate()) - @ns 
end 
GO
/****** Object:  UserDefinedFunction [dbo].[lab7bai1b]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[lab7bai1b] (@manv NVARCHAR(9)) 
RETURNS INT
AS
BEGIN
    DECLARE @soLuong INT
    SELECT @soLuong = COUNT(*) 
    FROM PHANCONG
    WHERE MA_NVIEN = @manv
    RETURN ISNULL(@soLuong, 0)
END

GO
/****** Object:  UserDefinedFunction [dbo].[lab7bai1c]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[lab7bai1c] (@gt nvarchar(3)) 
returns int
as
begin
return(select count(MANV) from NHANVIEN
WHERE PHAI = @gt
group by phai)
end

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[HONV] [nvarchar](15) NOT NULL,
	[TENLOT] [nvarchar](15) NOT NULL,
	[TENNV] [nvarchar](15) NOT NULL,
	[MANV] [nvarchar](9) NOT NULL,
	[NGSINH] [datetime] NOT NULL,
	[DCHI] [nvarchar](30) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[LUONG] [float] NOT NULL,
	[MA_NQL] [nvarchar](9) NULL,
	[PHG] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FNhanVien_PB]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Viết hàm trả về bảng các nhân viên làm việc ở phòng số 5 
 CREATE FUNCTION [dbo].[FNhanVien_PB](@Maphg int)
 RETURNS Table
 AS
   RETURN
   (
     SELECT MANV,HONV,TENNV FROM NHANVIEN
     WHERE PHG = @Maphg
    )
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[TENPHG] [nvarchar](15) NOT NULL,
	[MAPHG] [int] NOT NULL,
	[TRPHG] [nvarchar](9) NULL,
	[NG_NHANCHUC] [date] NOT NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NV_PB]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[NV_PB]
  as
  Select TENNV,TENPHG
  From NHANVIEN inner join PhongBan on NHANVIEN.PHG=PHONGBAN.MAPHG
GO
/****** Object:  View [dbo].[ThongtinNV]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThongtinNV] AS
Select TenNV, LUONG,YEAR(GetDate()) - YEAR(NHANVIEN.NGSINH) as Tuoi
  from NHANVIEN
  where YEAR(GetDate()) - YEAR(NHANVIEN.NGSINH)>57
GO
/****** Object:  View [dbo].[COMP]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[COMP] (TenNV, Luong)
 AS SELECT TENLOT, LUONG AS Pay
 FROM NHANVIEN;
GO
/****** Object:  View [dbo].[test]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[test]
  as
  select TENNV, LUONG
  from NHANVIEN
GO
/****** Object:  View [dbo].[test1]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[test1]
  as
  select TENNV, (LUONG +10) as a
  from NHANVIEN
GO
/****** Object:  View [dbo].[test2]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[test2]
  as
  select TENNV,LUONG
  from NHANVIEN
GO
/****** Object:  View [dbo].[NV_Phai]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NV_Phai]
AS
 SELECT TenNV,PHAI
 FROM NHANVIEN
 WHERE PHAI like N'nữ'
GO
/****** Object:  View [dbo].[NV_Phai1]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NV_Phai1]
AS
 SELECT TENPHG,MAPHG
 FROM PHONGBAN
 WHERE MAPHG =5
GO
/****** Object:  View [dbo].[ThongTin_Phong]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThongTin_Phong]
AS
 SELECT TENPHG,MAPHG
 FROM PHONGBAN
 WHERE MAPHG =6
GO
/****** Object:  UserDefinedFunction [dbo].[lab7bai1d]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[lab7bai1d] (@tenPhg int) 
returns table
as
return( 
select HONV,TENLOT,TENNV,luong from NHANVIEN 
WHERE LUONG >( select avg(luong) from NHANVIEN) and PHG = @tenPhg)

GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MADA] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[TEN_CONG_VIEC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MADA] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEAN]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAN](
	[TENDEAN] [nvarchar](15) NOT NULL,
	[MADA] [int] NOT NULL,
	[DDIEM_DA] [nvarchar](15) NOT NULL,
	[PHONG] [int] NULL,
 CONSTRAINT [PK_DeAn] PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM_PHG]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM_PHG](
	[MAPHG] [int] NOT NULL,
	[DIADIEM] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_DiaDiemPhong] PRIMARY KEY CLUSTERED 
(
	[MAPHG] ASC,
	[DIADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MA_NVIEN] [nvarchar](9) NOT NULL,
	[MADA] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[THOIGIAN] [float] NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MA_NVIEN] ASC,
	[MADA] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MA_NVIEN] [nvarchar](9) NOT NULL,
	[TENTN] [nvarchar](15) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[NGSINH] [date] NOT NULL,
	[QUANHE] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_ThanNhan] PRIMARY KEY CLUSTERED 
(
	[MA_NVIEN] ASC,
	[TENTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_DeAn_CongViec] FOREIGN KEY([MADA])
REFERENCES [dbo].[DEAN] ([MADA])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_DeAn_CongViec]
GO
ALTER TABLE [dbo].[DEAN]  WITH CHECK ADD  CONSTRAINT [FK_PhongBan_DeAn] FOREIGN KEY([PHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[DEAN] CHECK CONSTRAINT [FK_PhongBan_DeAn]
GO
ALTER TABLE [dbo].[DIADIEM_PHG]  WITH CHECK ADD  CONSTRAINT [FK_PhongBan_DiaDiemPhg] FOREIGN KEY([MAPHG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[DIADIEM_PHG] CHECK CONSTRAINT [FK_PhongBan_DiaDiemPhg]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NhanVien] FOREIGN KEY([MA_NQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NhanVien_NhanVien]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_PhongBan_NhanVien] FOREIGN KEY([PHG])
REFERENCES [dbo].[PHONGBAN] ([MAPHG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_PhongBan_NhanVien]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_PhanCong] FOREIGN KEY([MADA], [STT])
REFERENCES [dbo].[CONGVIEC] ([MADA], [STT])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_CongViec_PhanCong]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhanCong] FOREIGN KEY([MA_NVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_NhanVien_PhanCong]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([TRPHG])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ThanNhan] FOREIGN KEY([MA_NVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_NhanVien_ThanNhan]
GO
/****** Object:  StoredProcedure [dbo].[DANHSACHNHANVIEN]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	-- 1. Create/Alter the Stored Procedure
CREATE   PROCEDURE [dbo].[DANHSACHNHANVIEN]
AS
BEGIN
    SELECT 
        MANV,
        TENNV,
        LUONG
    FROM 
        NHANVIEN; -- Corrected table name and removed extra comma
END
GO
/****** Object:  StoredProcedure [dbo].[DemNv]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DemNv]
  @cityvar nvarchar(30)
 AS
     DECLARE @num Int
     SELECT @num = Count(*) FROM NHANVIEN
     WHERE DCHI like '%' + @cityvar
 RETURN @num
GO
/****** Object:  StoredProcedure [dbo].[Hello]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Hello]
@Ten nvarchar(20)
as
begin
print 'Hello ' + @Ten
end
GO
/****** Object:  StoredProcedure [dbo].[NumberWeek_Year]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[NumberWeek_Year]
as
--Setup Variables
DECLARE @myTable TABLE(WeekNumber int,
                       DateStarting smalldatetime)
DECLARE @n int = 0
DECLARE @firstWeek smalldatetime = '12/31/2017'

--Loop Through weeks
WHILE @n <= 52
BEGIN
   INSERT INTO @myTable VALUES (@n, DATEADD(wk,@n,@firstWeek));
   SELECT @n = @n + 1
END

--Show Results
SELECT WeekNumber, DateStarting
FROM   @myTable
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemPhongBan]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemPhongBan]
 @TenPHG nvarchar(15),  @MaPHG int,
 @TRPHG nvarchar(9),  @NG_NHANCHUC date
 AS
 IF EXISTS(SELECT * From PHONGBAN Where MAPHG = @MaPHG)
 UPDATE PHONGBAN SET TENPHG =  @TenPHG, TRPHG = @Trphg,NG_NHANCHUC=@NG_NHANCHUC
 WHERE MAPHG = @MaPHG
 ELSE
 INSERT INTO PHONGBAN
 VALUES (@TenPHG,@MaPHG,@TRPHG,@NG_NHANCHUC)
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongtinNV]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongtinNV] @MaNV nvarchar(9)
 AS
 Begin
 SELECT * from NHANVIEN WHERE MaNV = @MaNV
 End
GO
/****** Object:  StoredProcedure [dbo].[sp_Tong]    Script Date: 22/10/2025 8:09:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tong] @So1 int =3, @So2 int=2
AS 
Begin 
Declare @Tong int  
SET @Tong = @So1 + @So2; 
Print @Tong
End 
GO
USE [master]
GO
